##
##  Displays the administration links that are available after logging in.
##

<div id="admin">
  <div class="adminLevel1">
    <table width="99%" cellspacing="0" cellpadding="0">
    <tr>
    <td>
    <b>$fmt.message("admin.loggedInAs", ${authenticatedUser.Username})</b> :

#if ($isBlogContributor)
    <span id="admin-content-group" class="adminGroup" onmouseover="showMenu('admin-content'); hideMenu('admin-user'); hideMenu('admin-responses'); hideMenu('admin-blog'); hideMenu('admin-logs'); hideMenu('admin-admin')">$fmt.message("admin.content")</span> |
    <span id="admin-responses-group" class="adminGroup" onmouseover="showMenu('admin-responses'); hideMenu('admin-user'); hideMenu('admin-content'); hideMenu('admin-blog'); hideMenu('admin-logs'); hideMenu('admin-admin')">$fmt.message("admin.commentsAndTrackbacks")</span> |
#end

#if ($isBlogAdminOrBlogOwner)
    <span id="admin-blog-group" class="adminGroup" onmouseover="showMenu('admin-blog'); hideMenu('admin-user'); hideMenu('admin-content'); hideMenu('admin-responses'); hideMenu('admin-logs'); hideMenu('admin-admin')">$fmt.message("admin.configuration")</span> |
#end

#if ($isAuthorisedForBlog)
    <span id="admin-logs-group" class="adminGroup" onmouseover="showMenu('admin-logs'); hideMenu('admin-user'); hideMenu('admin-content'); hideMenu('admin-responses'); hideMenu('admin-blog'); hideMenu('admin-admin')">$fmt.message("admin.logs")</span> |
#end

#if ($isBlogAdmin)
    <span id="admin-admin-group" class="adminGroup" onmouseover="showMenu('admin-admin'); hideMenu('admin-user'); hideMenu('admin-content'); hideMenu('admin-responses'); hideMenu('admin-blog'); hideMenu('admin-logs')">$fmt.message("admin.administration")</span> |
#end

#if ($authenticatedUser.isDetailsUpdateable())
    <span id="admin-user-group" class="adminGroup" onmouseover="showMenu('admin-user'); hideMenu('admin-content'); hideMenu('admin-responses'); hideMenu('admin-blog'); hideMenu('admin-logs'); hideMenu('admin-admin')"">$fmt.message("admin.user")</span> |
#end

    <span><a href="${pebbleContext.Configuration.SecureUrl}logout.action?redirectUrl=${blogUrl}" onmouseover="hideMenu('admin-admin'); hideMenu('admin-user'); hideMenu('admin-content'); hideMenu('admin-responses'); hideMenu('admin-blog'); hideMenu('admin-logs')">$fmt.message("admin.logout")</a></span>
    </td>
    <td align="right">
      <span>
        <a href="./help/index.html" title="$fmt.message('common.help')"
          onmouseover="hideMenu('admin-admin'); hideMenu('admin-user'); hideMenu('admin-content'); hideMenu('admin-responses'); hideMenu('admin-blog'); hideMenu('admin-logs')">
          $fmt.message("common.help")
        </a>
      </span>
    </td>
    </tr>
    </table>
  </div><!-- adminLevel1 -->

  <div class="adminLevel2">
    <span id="admin-content">
#if ($isBlogContributor)
      <a href="addBlogEntry.secureaction#form" title="$fmt.message('admin.tooltip.addNewEntry')">
        $fmt.message("admin.newBlogEntry")
      </a> (${blog.NumberOfBlogEntries}) |
      <a href="viewUnpublishedBlogEntries.secureaction" title="$fmt.message('admin.tooltip.viewUnpublishedBlogEntries')">
        $fmt.message("admin.unpublishedBlogEntries")
      </a> (${blog.NumberOfUnpublishedBlogEntries}) |
      <a href="addStaticPage.secureaction#form" title="$fmt.message('admin.tooltip.addNewStaticPage')">
        $fmt.message("admin.newStaticPage")
      </a> |
      <a href="viewStaticPages.secureaction" title="$fmt.message('admin.tooltip.manageStaticPages')">
        $fmt.message("admin.staticPages")
      </a> |
      <a href="viewCategories.secureaction" title="$fmt.message('admin.tooltip.editCategories')">
        $fmt.message("admin.categories")
      </a> |
      <a href="files/" title="$fmt.message('admin.tooltip.manageFiles')">
        $fmt.message("admin.files")
      </a> |
      <a href="images/" title="$fmt.message('admin.tooltip.manageImages')">
        $fmt.message("admin.images")
      </a>
#end
    </span>

    <span id="admin-responses">
#if ($isBlogContributor)
      <pebble:isBlogContributor>
      <a href="p/responses" title="$fmt.message('admin.tooltip.manageApprovedResponses')">
        $fmt.message("admin.approved") (${blog.NumberOfApprovedResponses})
      </a> |
      <a href="p/responses?type=pending" title="$fmt.message('admin.tooltip.managePendingResponses')">
        $fmt.message("admin.pending") (${blog.NumberOfPendingResponses})
      </a> |
      <a href="p/responses?type=rejected" title="$fmt.message('admin.tooltip.manageRejectedResponses')">
        $fmt.message("admin.rejected") (${blog.NumberOfRejectedResponses})
      </a>
#end
    </span>

    <span id="admin-blog">
#if ($isBlogAdminOrBlogOwner)
      <a href="p/customizations" title="$fmt.message('admin.tooltip.manageYourBlogProperties')">
        $fmt.message("admin.properties")
      </a> |
      <a href="viewBlogSecurity.secureaction" title="$fmt.message('admin.tooltip.manageYourBlogSecurity')">
        $fmt.message("admin.security")
      </a> |
      <a href="viewPlugins.secureaction" title="$fmt.message('admin.tooltip.manageYourPlugins')">
        $fmt.message("admin.plugins")
      </a>
  #if ($pebbleContext.Configuration.isUserThemesEnabled)
        | <a href="theme/" title="$fmt.message('admin.tooltip.manageYourTheme')">
          $fmt.message("admin.themes")
        </a> |
  #end
      <a href="viewMessages.secureaction">
        $fmt.message("admin.messages") (${blog.NumberOfMessages})
      </a> |
      <a href="utilities.secureaction" title="$fmt.message('admin.tooltip.maintenanceAndUpgradeUtilities')">
        $fmt.message("admin.utilities")
      </a> |
      <a href="aboutBlog.secureaction" title="$fmt.message('admin.tooltip.aboutThisBlog')">
        $fmt.message("admin.about")
      </a>
#end
    </span>

    <span id="admin-logs">
#if ($isAuthorisedForBlog)
      <a href="viewReferers.secureaction" title="$fmt.message('admin.tooltip.viewReferrersForToday')">
        $fmt.message("admin.referrers")
      </a> 
      (<a href="viewReferers.secureaction?filter=false" title="$fmt.message('admin.tooltip.viewReferrersForTodayUnfiltered')"/>
        $fmt.message("admin.viewReferrersForTodayUnfiltered")
      </a>) |
      <a href="viewRequests.secureaction" title="$fmt.message('admin.tooltip.viewRequestsForToday')">
        $fmt.message("admin.requests")
      </a> |
      <a href="viewLogSummary.secureaction" title="$fmt.message('admin.tooltip.viewLogSummaryForThisMonth')">
        $fmt.message("admin.logSummary")
      </a> |
      <a href="viewLogSummary.secureaction?year=${yearNow}" title="$fmt.message('admin.tooltip.yearlyLogs')">
        $fmt.message("admin.yearlyLogs")
      </a> |
      <a href="viewRefererFilters.secureaction" title="$fmt.message('admin.tooltip.viewReferrerFilters')">
        $fmt.message("admin.referrerFilters")
      </a>
#end
    </span>

    <span id="admin-admin">
#if ($isBlogAdmin)
  #if ($blogManager.isMultiBlog())
      <a href="${multiBlogUrl}viewPebbleProperties.secureaction" title="$fmt.message('admin.tooltip.managePebbleProperties')">
        $fmt.message("admin.properties")
      </a> |
  #end
  #if (!$multiBlogUrl) #set ($multiBlogUrl = "") #end
      <a href="${multiBlogUrl}viewBlogs.secureaction" title="$fmt.message('admin.tooltip.viewBlogs')">
        $fmt.message("admin.blogs")
      </a> |
      <a href="${multiBlogUrl}addUser.secureaction" title="$fmt.message('admin.tooltip.addUser')">
        $fmt.message("admin.addUser")
      </a> |
      <a href="${multiBlogUrl}viewUsers.secureaction" title="$fmt.message('admin.tooltip.viewUsers')">
        $fmt.message('admin.users')
      </a>
#end
    </span>

    <span id="admin-user">
#if ($authenticatedUser.isDetailsUpdateable())
      <a href="editUserDetails.secureaction" title="$fmt.message('admin.tooltip.editUserDetails')">
        $fmt.message("admin.userDetails")
      </a> |
      <a href="changePassword.secureaction" title="$fmt.message('admin.tooltip.changePassword')">
        $fmt.message("admin.changePassword")
      </a> |
      <a href="editUserPreferences.secureaction" title="$fmt.message('admin.tooltip.preferences')">
        $fmt.message("admin.preferences")
      </a>
#end
    </span>

    &nbsp;
  </div><!-- adminLevel2 -->

  <script type="text/javascript">
    hideMenu('admin-content');
    hideMenu('admin-responses');
    hideMenu('admin-blog');
    hideMenu('admin-logs');
    hideMenu('admin-admin');
    hideMenu('admin-user');
  </script>

#if ($blog.NumberOfMessages > 0)
<div id="messages">
  <div class="${blog.Messages.get(0).Type}">
    <table width="99%" cellspacing="0" cellpadding="0">
      <tr>
        <td>
          ${blog.Messages.get(0).Text}
        </td>
        <td align="right" valign="top">
  #if ($blog.NumberOfMessages == 1)
          <a href="viewMessages.secureaction">
            $fmt.message("admin.oneMessage")
          </a>
  #else
          <a href="viewMessages.secureaction">
            $fmt.message("admin.someMessages", $blog.NumberOfMessages)
          </a>
  #end
        </td>
      </tr>
    </table>
  </div>
</div><!-- messages -->
#end

</div><!-- admin -->
