##
##  renders a collection of BlogEntries, calling blogEntry.jsp for each blog entry
##
#if (!$blogEntries)
<div class="contentItem">
  <div class="contentItemBody">
    $fmt.message("blogentry.noBlogEntries")
  </div>
</div>
#else
  #foreach ($blogEntry2 in $blogEntries)
    #set ($blogEntry = $blogEntry2)
    #parse ("blogEntry.vm")
  #end
#end