#if ($blog.isRichTextEditorForCommentsEnabled())
  <script type="text/javascript">
  window.onload = function() {
    var oFCKeditor = new FCKeditor( 'commentBody' ) ;
    oFCKeditor.BasePath = '${contextPath}/FCKeditor/' ;
    oFCKeditor.Config["CustomConfigurationsPath"] = '${contextPath}/fckconfig_pebble.js';
    oFCKeditor.ToolbarSet = 'Comment' ;
    oFCKeditor.ReplaceTextarea() ;
    oFCKeditor.MakeEditable();
  }
  </script>
#end

<div class="contentItem">
  <h1>$fmt.message("comment.addComment")</h1>
  <h2>&nbsp;</h2>

  <div class="contentItemBody">
#parse("/WEB-INF/fragments/commentForm.vm")
  </div>
</div>