<div class="contentItem">

  <h1>$fmt.message("error.fileTooLargeTitle")</h1>
  <h2>&nbsp;</h2>

  <div class="contentItemBody">
    $fmt.message("error.fileTooLarge", "${pebbleContext.Configuration.FileUploadSize} KB")
  </div>

</div>