##
##  Displays the search form.
##
#if ($blogType == "singleblog")
<div class="sidebarItem">
  <div class="sidebarItemTitle"><span>$fmt.message("common.search")</span></div>
  <div class="sidebarItemBody">
    <form name="searchForm" method="post" action="p/search/do" accept-charset="$blog.CharacterEncoding">
      <input type="text" name="query" size="15" value="" />
      <input type="submit" value="$fmt.message('common.search')" />
    </form>
#if (!$blog.RootCategory.SubCategories.isEmpty())
    <a title="Categories" href="./categories/">$fmt.message("category.categories")</a> |
#end
#if ($tags)
    <a title="Tags" href="./tags/">$fmt.message("tag.tags")</a> |
#end
    <a title="Advanced search" href="p/search">$fmt.message("search.advancedSearch")</a>
  </div>
</div>
#end