##
##  Displays the recent blog entries.
##
## Parameters
##  - name : the name of this sidebar component (defaults to "Recent Blog Entries")
##  - showBody : flag to indicate whether the (truncated) body of the entry should be displayed
##

#if (!$name)
  #set ($name = $fmt.message("sidebar.recentBlogEntries"))
#end
#if (!$showBody)
  #set ($showBody = "true")
#end

#if ($recentBlogEntries)
<div class="sidebarItem">
  <div class="sidebarItemTitle">
    <span>
      ${name} <a title="RSS feed for ${name}" href="rss.xml">
        <img src="common/images/feed-icon-10x10.png" alt="RSS feed" border="0" />
      </a>
    </span>
  </div>
  <div class="sidebarItemBody">
    <ul>
  #foreach ($recentBlogEntry in $recentBlogEntries)
    #set ($href = $url.rewrite($recentBlogEntry.Permalink))
    #set ($title = "${recentBlogEntry.Title} - ${recentBlogEntry.Permalink}")
      <li>
        <a href="$href" title="$title">$recentBlogEntry.Title</a>
      #if ($showBody == "true")
        <br />$recentBlogEntry.TruncatedContent
      #end
      </li>
  #end
    </ul>
  </div>
</div>
#end