<div class="contentItem">
  <h1>$fmt.message("newsfeed.subscribeTitle")</h1>
  <h2>&nbsp;</h2>

  <div class="contentItemBody">
    <form action="p/api/subscribe" method="post">
#parse("fragments/token.vm")
      $fmt.message("comment.emailAddress")
      <input type="text" name="email" size="40" /> 
      <input type="submit" value="Subscribe" />
    </form>
  </div>

</div>