<div class="contentItem">

  <div class="contentItemLinks">
    <a href="./help/staticPages.html" target="_blank">$fmt.message("common.help")</a>
  </div>

  <h1>$fmt.message("view.unpublishedBlogEntries")</h1>
  <h2>&nbsp;</h2>

  <div class="contentItemBody">
    <form name="unpublishedBlogEntriesForm" method="post" action="p/entries/manage">
#if ($token)
      <input type="hidden" name="pebbleSecurityToken" value="$token" />
#end
      <input type="hidden" name="redirectUrl" value="${blogUrl}p/entries/unpublished" />
    <table width="99%" cellspacing="0" cellpadding="4">
      <thead>
      <tr>
        <th><input type="checkbox" name="allEntries" onclick="toggleCheckAll(document.unpublishedBlogEntriesForm.allEntries, document.unpublishedBlogEntriesForm.entry)"/></th>
        <th>Title</th>
      </tr>
      </thead>
      <tbody>
#set ($count = 0)
#foreach ($blogEntry in $unpublishedBlogEntries)
  #if ($count % 2 == 0)
      <tr class="even small">
  #else
      <tr class="odd small">
  #end
        <td width="2%">
          <input type="checkbox" name="entry" value="${blogEntry.Id}" />
        </td>
        <td>
          <a href="p/entries/edit/${blogEntry.Id}#form">${blogEntry.Title}</a>
        </td>
      </tr>
#end
      </tbody>
    </table>

    <br />

    <table width="99%" cellspacing="0" cellpadding="0">
      <tr>
        <td align="right">
          <input name="submit" type="submit" value="Publish" />
          <input name="submit" type="submit" value="Remove" />
        </td>
      </tr>
    </table>
    </form>
  </div>

</div>