<div class="contentItem">

  <div class="contentItemLinks">
    <a href="./help/securityRoles.html" target="_blank">$fmt.message("common.help")</a>
  </div>

  <h1>$fmt.message("view.blogSecurity")</h1>
  <h2>&nbsp;</h2>

  <div class="contentItemBody">
    <p>
      Highlight those users that you would like to be <a href="./help/securityRoles.html" target="_blank">owners, publishers and contributors</a> for your blog. Optionally, you can
      <a href="./help/privateBlogs.html" target="_blank">restrict access to your blog</a> to only those readers that you specify.
    </p>

    <form name="securityForm" action="saveBlogSecurity.secureaction" method="POST" accept-charset="${blog.CharacterEncoding}">
#if ($token)
      <input type="hidden" name="pebbleSecurityToken" value="$token" />
#end
      <table width="99%">
        <tr>
          <td align="center">Blog owners</td>
          <td align="center">Blog publishers</td>
        </tr>
        <tr>
          <td align="center">
#select7 ("blogOwners" ${blogOwnerUsers} ${blog.BlogOwners} "name" "username" "10" "true")
          </td>
          <td align="center">
#select 7("blogPublishers" ${blogPublisherUsers} ${blog.BlogPublishers} "name" "username" "10" "true")
          </td>
        </tr>

        <tr>
          <td align="center">Blog contributors</td>
          <td align="center">Blog readers (<span class="help"><a href="./help/privateBlogs.html" target="_blank">Help</a></span>)</td>
        </tr>
        <tr>
          <td align="center">
#select7 ("blogContributors" ${blogContributorUsers} ${blog.BlogContributors} "name" "username" "10" "true")
          </td>
          <td align="center">
#select7 ("blogReaders" ${allUsers} ${blog.BlogReaders} "name" "username" "10" "true")
          </td>
        </tr>

#if (${blogManager.isMultiBlog()})
        <tr>
          <td colspan="2">
            <br />
            Do you want this blog included in the multi-blog home page and news feeds?
            <br />
            Yes&nbsp;<input type="radio" name="private" value="false"
  #if (${blog.isPublic()})
                checked="checked"
  #end
            />
            No<input type="radio" name="private" value="true"
  #if (${blog.isPrivate()})
                checked="checked"
  #end
            />
          </td>
        </tr>
#end

        <tr>
          <td align="right" colspan="2">
            <input name="submit" type="submit" Value="Save">
          </td>
        </tr>

      </table>
    </form>
  </div>

</div>