<div class="contentItem">

  <div class="contentItemLinks">
    <a href="./help/logs.html" target="_blank">Help</a>
  </div>

  <h1>Requests by Hour for ${logPeriod}</h1>
  <h2>&nbsp;</h2>

  <div class="contentItemBody">
    <table width="99%" cellspacing="0" cellpadding="4">
      <thead>
        <tr>
          <th>Hour of Day (${blog.TimeZoneId})</th>
          <th align="right">Requests</th>
          <th align="right">Unique</th>
        </tr>
      </thead>
      <tbody>
#foreach ($count in [0..23])
  #if ($count % 2 == 0)
        <tr class="even small">
  #else
        <tr class="odd small">
          <td>${count}:00</td>
          <td align="right">${requestsPerHour[$count]}</td>
          <td align="right">${uniqueIpsPerHour[$count]}</td>
        </tr>
#end
    </tbody>
    </table>
  </div>

</div>