<div class="contentItem">

  <div class="contentItemLinks">
    <a href="./help/logs.html" target="_blank">$fmt.message("common.help")</a>
  </div>

  <h1>$fmt.message("view.logSummaryForPeriod", $fmt.formatDate($logSummary.Date, "yyyy"))</h1>
  <h2>&nbsp;</h2>

  <div class="contentItemBody">
    <table width="99%" cellspacing="0" cellpadding="4">
      <thead>
      <tr>
        <td><b>Total requests for $fmt.formatDate($logSummary.Date, "yyyy")</b></td>
        <td align="right"><b>${logSummary.TotalRequests}</b></td>
      </tr>
      </thead>

#set ($status = 0)
#foreach ($logSummaryForMonth in $logSummary.LogSummaries)
  #if ($status % 2 == 0)
      <tr class="even small">
  #else
      <tr class="odd small">
  #end
        <td>
          <a href="p/logs/summary?year=${pyear}&month=${status}" title="See log summary for month">$fmt.formatDate($logSummaryForMonth.Date, "MMMM yyyy")</a>
        </td>
        <td align="right"><fmt:formatNumber value="${logSummaryForMonth.TotalRequests}"/></td>
        </td>
      </tr>
  #set ($status = $status + 1)
#end

    </table>
  </div>

</div>