<div class="contentItem">

  <div class="contentItemLinks">
    <a href="./help/referers.html" target="_blank">$fmt.message("common.help")</a>
  </div>

  <h1>$fmt.message("view.refererFilters")</h1>
  <h2>&nbsp;</h2>

  <div class="contentItemBody">
    <p>
      Referer filters let you exclude specific URLs from your referers list that, for example, you may think are spam.
      As an example, to exlude all URLs from <code>*.somedomain.com</code>, the expression would be <code>.*\.somedomain\.com.*</code>
    </p>

    <form name="newRefererFilterForm" action="p/referers/filters" method="post">
#parse ("fragments/token.vm")
      <b>Filter</b>
      <input type="text" name="expression" size="40" value=""/>
      <input name="submit" type="submit" Value="Add Filter" />
    </form>

    <br />

    <form name="refererFiltersForm" action="p/referers/filters/remove" method="post">
#parse ("fragments/token.vm")
    <table width="99%" cellspacing="0" cellpadding="4">
      <thead>
      <tr>
        <th><input type="checkbox" name="allExpressions" onclick="toggleCheckAll(document.refererFiltersForm.allExpressions, document.refererFiltersForm.expression)"/></th>
        <th>Filter (regular expression)</th>
      </tr>
      </thead>
      <tbody>
#set ($status = 0)
#foreach ($filter in $filters)
  #if ($status % 2 == 0)
        <tr class="even small">
  #else
        <tr class="odd small">
  #end
          <td><input type="checkbox" name="expression" value="${filter.Expression}" /></td>
          <td>${filter.Expression}</td>
        </tr>
  #set ($status = $status + 1)
#end
      </tbody>
    </table>

    <br />

    <table width="99%" cellspacing="0" cellpadding="0">
      <tr>
        <td align="right">
          <input type="submit" value="Remove" />
        </td>
      </tr>
    </table>
    </form>

</div>