<div class="contentItem">

  <h1>$fmt.message("confirmation.confirm")</h1>
  <h2>&nbsp;</h2>

  <div class="contentItemBody">
    <form action="${confirmationAction}" method="post" accept-charset="${blog.CharacterEncoding}">
#parse ("fragments/token.vm")
      <p>$fmt.message("confirmation.defaultMessage")</p>

      <table width="99%">
        <tr>
          <td colspan="2" align="right">
            <input name="submit" type="submit" value="${fmt.message('confirmation.confirm')}" />
          </td>
        </tr>
      </table>
    </form>
  </div>

</div>
