#if ($validationContext.Errors && !$validationContext.Errors.isEmpty())
    <div class="validationError">
      <b>${validationContext.NumberOfErrors} error(s)</b>
      <ul>
  #foreach ($error in $validationContext.Errors)
        <li>${error.Message}</li>
  #end
      </ul>
    </div>
#end